.DS_Store

## Node Packages
node_modules
npm-debug.log

## API Keys
server/config/secrets.js

## Rethink
rethinkdb_data/

## Floobits
.floo
.flooignore

## Bundles
public/client/bundle.js
public/client/bundle.js.map
public/extension/bundle.js
public/*.js
public/*.json
public/client/*.hot-update.js
public/client/*.hot-update.json

## env variables
.env

## Webstorm
.idea
