#splashview {
  height:100vh;
  background: url('https://source.unsplash.com/random/1600x900') no-repeat 50% 50% ;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.selected {
    background-color: #CCCCCC;
    border-bottom: 1px solid white !important;
}

.mdl-badge[data-badge]:after {
    top: 3px !important;
    right: 1px !important;
}

.info-bar {
    z-index: 20;
}

.image-collection {
    z-index: 10;
}

body {
    overflow-x: hidden;
}

.sidebar-header {

}

.sidebar-header .material-icons {
    font-size: 28px !important;
    margin: 0 3px 0 6px !important;
}

.sidebar-header div {
    font-size: 19px;
    margin-top: -28px;
    margin-left: 43px;
}

.sidebar-link {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-link .material-icons {
    margin: 5px 3px 0 11px !important;
}

.sidebar-link div {
    font-size: .9em;
    margin-top: -27px;
    margin-left: 43px;
    margin-bottom: 45px;
}

.btn-profile div span {
    margin-left: 20px !important;
}

.btn-icons {
    position: absolute;
    left: 14px;
    top: 5px;
}